name: Checks

on:
  push:
    branches:
      - main
      - dev
      - 'feature/*'
  pull_request:
    branches:
      - main
      - dev

jobs:
  docker-build-dev:
    name: Verify Dev Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build dev Dockerfile
        run: docker build --build-arg HOST_UID=1000 --build-arg HOST_GID=1000 -t trakli-dev-test .

  docker-build-prod:
    name: Verify Prod Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build prod Dockerfile
        run: docker build -f docker/prod/Dockerfile -t trakli-prod-test .

  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: trakli
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer
          extensions: pcov
          coverage: pcov

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-interaction
      - name: Copy .env file
        run: cp .env.example .env
      - name: Update .env file
        run: |
            sed -i 's/APP_ENV=local/APP_ENV=testing/' .env
            sed -i 's/DB_HOST=mysql/DB_HOST=127.0.0.1/' .env
            sed -i 's/DB_PORT=3306/DB_PORT=3306/' .env
            sed -i 's/DB_DATABASE=trakli/DB_DATABASE=trakli/' .env
            sed -i 's/QUEUE_CONNECTION=sync/QUEUE_CONNECTION=database/' .env
            sed -i 's/DB_USERNAME=trakli/DB_USERNAME=root/' .env

      - name: Generate application key
        run: php artisan key:generate
      - name: Configure database
        run: |
          php artisan config:clear
          php artisan config:cache

      - name: Run migrations
        run: php artisan migrate --seed
      - name: Lint code
        run: composer pint:test
      - name: Ensure OpenAPI documentation is up to date
        run: composer openapi:test
      - name: Run tests
        run: php artisan test --coverage-clover=reports/coverage/coverage.xml --coverage-text
      - name: Check code coverage
        run: |
          COVERAGE=$(php -r "
            \$xml = simplexml_load_file('reports/coverage/coverage.xml');
            \$metrics = \$xml->project->metrics;
            \$coverage = ((int)\$metrics['coveredelements'] / (int)\$metrics['elements']) * 100;
            echo round(\$coverage, 2);
          ")
          echo "Code coverage: $COVERAGE%"
          MIN_COVERAGE=50
          if (( $(echo "$COVERAGE < $MIN_COVERAGE" | bc -l) )); then
            echo "❌ Code coverage ($COVERAGE%) is below the minimum threshold of $MIN_COVERAGE%"
            # exit 1
          else
            echo "✅ Code coverage ($COVERAGE%) meets the minimum threshold of $MIN_COVERAGE%"
          fi
