name: Build and Publish Docker Image

on:
  workflow_run:
    workflows: ["Checks"]
    types:
      - completed
    branches:
      - main
  release:
    types: [published]

jobs:
  build:
    if: ${{ github.event_name == 'release' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT }}

      - name: Build and push
        if: ${{ github.event_name != 'release' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: docker/prod/Dockerfile
          push: true
          tags: ghcr.io/trakli/webservice:${{ github.sha }}

      - name: Build and push latest
        if: ${{ github.event_name == 'release' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: docker/prod/Dockerfile
          push: true
          tags: |
            ghcr.io/trakli/webservice:latest
            ghcr.io/trakli/webservice:${{ github.event.release.tag_name }}
